* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
 }
 
 body {
   background-color: rgb(24, 22, 22);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 
 .card {
   width: 90%;
   max-width: 470px;
   background: linear-gradient(135deg, #17d3a1, #5b548a);
   color: #fff;
   margin: 0 auto;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .search {
   width: 100%;
   display: flex;
   margin-bottom: 20px;
 }
 
 .search input {
   border: 0;
   outline: 0;
   background-color: #ebfffc;
   color: #555;
   padding: 10px 25px;
   height: 60px;
   border-radius: 30px;
   flex: 1;
   margin-right: 16px;
   font-size: 18px;
 }
 
 .search button {
   border: 0;
   outline: 0;
   background: #ebfffc;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   cursor: pointer;
   transition: background 0.3s;
 }
 
 .search button:hover {
   background: #d1f7f0;
 }
 
 .search button img {
   width: 16px;
 }
 
 .weather-icon {
   width: 170px;
   margin-top: 30px;
 }
 
 .weather h1 {
   font-size: 80px;
   font-weight: 400;
   margin-top: -20px;
 }
 
 .details {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   margin-top: 50px;
 }
 
 .col {
   display: flex;
   align-items: center;
   text-align: left;
 }
 
 .col img {
   width: 40px;
   margin-right: 10px;
 }
 
 .humidity, .wind {
   font-size: 20px;
   margin-top: -6px;
 }
 .weather {
   display: none;
 }